.dump_log table {
  border: 1px solid blue;
  border-collapse: collapse;
  width: 100%;
  empty-cells: show;
}

.dump_log #arguments_header {
 text-align: center;
 vertical-align: middle;
}

.dump_log thead {
  border: 1px solid red;
}

.dump_log thead tr {
  background-color: white;
}

.dump_log thead td {
  border-right: 1px dotted lightblue;
}

.dump_log tbody td {
  border-right: 1px dotted lightblue;
}

.dump_log .line_1 {
  background-color: #eee;
  color: gray;
}

.dump_log .line_2 {
  background-color: #ddd;
  border-bottom: 1px solid black;
}

.dump_log .filler_line {
 height: 0.2cm;
 border: none;
}



