<html>
<head>
<LINK media="all" href="./CSS/getCSS.php" type="text/css" rel="stylesheet">
</head>
<body class="paneIframe">
  <table width="400px" border="0"  CELLSPACING="5" CELLPADDING="5">
	<tr><td colspan="2"><img src="./icons/logo_Generis.gif"></td></tr>
	<tr><td colspan="2" class="textBlack"><b>September 2006</b></td></tr>
	<tr><td colspan="2" class="textBlack">The generis4 platform is a collaborative development of the <b>University of Luxembourg (Educational Measurement and Applied Cognitive Science &#150; EMACS)</b> and the <b>Centre de Recherche Public Henri Tudor (Centre for IT Innovation &#150; CITI).</b><br/><br/>The license question has not been decided yet, but it is foreseen to take generis4 under the GPL license.<br/><br/>Currently there is a collaboration agreement (see <b><a href="http://www.tao.lu/html/index.php?option=com_content&task=view&id=49&Itemid=74" target="_blank">www.tao.lu</a></b>, Distribution policy and strategy) available for any person interested in exploring the TAO platform.</td></tr>
	<tr><td><img src="./icons/logo_uni-lu.gif"></td><td><img src="./icons/logo_CRP.gif"></td></tr>
	</table>
</body>
</html>
