/*Instructions embedded into text of question*/
.inLineInstructions { 
         font-family: Verdana, Helvetica, sans-serif; 
         color:#0000FF; 
         font-weight:bold; 
         font-size:12px; 
 } 


.demoTitle { 
         font-family: Verdana, Helvetica, sans-serif; 
         color:black; 
         font-weight:bold; 
         font-size:16px; 
		 text-align:center;
		 font-style:italic;
		
 } 
 .demo { 
         font-family: Verdana, Helvetica, sans-serif; 
         color:black; 
         font-weight:bold; 
         font-size:12px; 
		 text-align:center;
		 font-style:italic;
		
 } 
/* Question form labels */
label{
font-family: Verdana, Helvetica, sans-serif;
font-size:10;
}
/* specify display style of what has to be read*/
.read
{
font-weight:bold;
color: black !important;
font-family: Verdana, Helvetica, sans-serif;
}

/* Question form window */
window
{
background-color:white;
font-family: Verdana, Helvetica, sans-serif;
}

/* All texts that the Interviewer musn't read during
   an interview are decorated using this style. */
.dontread{
color:#0000FF;
font-family: Verdana, Helvetica, sans-serif;
}

/* Decorates the Question to ask. Ex : Choose wich statement 
   describes your current situation ...*/
.Question {
	font-family: Verdana, Helvetica, sans-serif;
margin: 10px 10px 5px 0;
  color:black;
  font-size:14px;
  background-color:white;
  padding:6px;
  font-weight:bold;
  width: 720px;
}
/* Decorates the Question to ask when being presented as one line in tables. Ex : ISCED 5A, master degree 
   describes your current situation ...*/
.QuestionFieldInTable{
	font-family: Verdana, Helvetica, sans-serif;
	margin: 5px 5px 2px 0;
  	color:black;
 	font-size:12px;
  	padding-left: 5px;
  	font-weight:bold;
  	width: 770px;

}

/* The alphanumeric code of the question to ask. It is displayed
   on its left side. Example of Alphanumeric code : A3.*/
.QuestionCode {
	font-family: Verdana, Helvetica, sans-serif;
	margin: 10px 0px 5px 10px;
  font-size:14px;
   border-width:1px;
  padding:6px;
  font-weight:bold;

}

/* The alphanumeric code of the question to ask. It is displayed
   on its left side. Example of Alphanumeric code : A3.*/
.QuestionCodeInTable {
	font-family: Verdana, Helvetica, sans-serif;
	margin: -1px -8px 5px 0px;
  font-size:12px;
   border-width:1px;
  padding:6px;
  font-weight:bold;

}

/* The Instruction Notes for the Interviewer, displayed under
   the question to ask to the Interviewee. Example :
   Prompt if 'other' is chosen what activity is.
*/
.Instruction {
	font-family: Verdana, Helvetica, sans-serif;
 color:#0000FF;
 font-weight:bold;
 margin-left: 30px;
 width: 850px;
 font-size: 12px;
}

/* Decorates the text labelling the Instructions Notes.
   On the label's value is "Instruction Notes".
*/
.InstructionLabel{
	font-family: Verdana, Helvetica, sans-serif;
 color:#0000FF;
 font-weight:bold;
 text-decoration:underline;
 width: 850px;
 margin-left: 30px;
  margin-top: 20px;
  font-size: 12px;
}

/* Style for the <box> element containing possible answers to a question.
*/
.AnswersBlock {
margin-top: 0;
}


/* Style of the button enabling users to display the online help
   relevant to the current question. By default, is on the upper right
   side of the screen.
*/
.HelpButton {
	max-width: 35px;
	min-width: 35px;
	max-height: 25px;
	min-height: 25px;
	margin-top: 10px;
	
	list-style-image: url("../icons/hv_help.png");
}


.DK{
 font-family: Verdana, Helvetica, sans-serif;
 color:red;
 font-weight:bold;
 display: none;
}

.RF{
font-family: Verdana, Helvetica, sans-serif;
 color:red;
 font-weight:bold;
 display:none;
}

/* Style for radio buttons. Radio buttons are displayed for
   single result questions.
 */
radio {
	font-family: Verdana, Helvetica, sans-serif;
margin-left:50px;
}

/* Style for checkboxes. Checkboxes inputs are displayed
   for multiple result questions.
*/
checkbox {
	font-family: Verdana, Helvetica, sans-serif;
margin-left:50px;
}


/* Style of the question when selected.
*/
.selectedNode
{
	background-color: 'white' !important;
}

/* Style of question when not selected.
 */
.unselectedNode
{
	background-color: 'red' !important;
}

/* Main <box> container of a question.
*/
.nodeContainer
{
	position: relative;
}

/* Style for textboxes used beside radio buttons.
   Typical uses of these textboxes are "other, please specify:" cases.
*/
.fte
{
	font-family: Verdana, Helvetica, sans-serif;
	min-height: 40px;
	max-height: 40px;
	font-size: 12px;
}

.no_label
{
	margin-left: 30px;	
}

.node_activated
{
	background: #EFEBE7!important;
}

.node_deactivated
{
	background: #FFFFFF!important;	
}

.date_widget
{
	padding-left: 30px;
}



/* Please don't edit these CSS classes
   -----------------------------------
 */
.simple{
margin:20px;
}

.infoLabel {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.info {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.debugTimeProfileHyperView
{
display:visible;
font-style:italic;
color:grey;
position:fixed;
font-size:8px;
top:93%;
left:76%;
}

/* To clean, organize, and document. */
.input-code-box
{
	max-width: 150px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.input-code-lbl
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.node_footer
{
	margin-top: 10px;
	margin-left: 47px;
	margin-bottom: 10px;
}

.DKButton
{
	font-family: Verdana, Helvetica, sans-serif;
		
}

.DKButton, .RFButton
{
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #ddd;
	border: 1px solid black;
	font-size: 12px;
	color: black;
	padding: 2px;
	max-width: 50px;
	min-witdh: 50px;
}

.DKToggled
{
	background-color: orange;
}

.RFToggled
{
	background-color: red;
}

.fte_label
{
	font-family: Verdana, Helvetica, sans-serif;
	margin-top: 4px;
	margin-left: 0;
	font-size: 12px;
}

.single_entry
{
	margin-left: 53px;	
}

.hidden
{
	display:none;
}

radiogroup > hbox > hbox > radio
{
	-moz-padding-start: 0;
	-moz-padding-end: 0;
	margin: 0;
	padding: 3px 0 0 10px;
}

radiogroup > hbox > hbox
{
	min-width: 264px;
	max-width: 264px;
	margin: 0;
}

radiogroup > hbox > hbox > div, checkboxLabel
{
	max-width: 200px;
	min-width: 200px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.noCode
{
	margin-left: 0px;
}

.noQuestion
{
	background-color: transparent;
}

radio, checkbox
{
	font-size: 12px;
}

.notvisible
{
	visibility: hidden;
}